<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script>
        const currentSong = <%- JSON.stringify(locals.song) || 'undefined' %>
        console.log("Current "+currentSong)
    </script>
    <link rel="shortcut icon" href="/Assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script.js" defer></script>
    
    <title>Harmony - Home</title>
</head>
<body>
    <ul class="custom-navbar">
        <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="/song_table/1"><i class="fa fa-music"></i> All Songs</a></li>
        <li style="float:right"><a class="active" href="/about"> <i class="fa-solid fa-circle-info"></i> About</a></li>
      </ul>
    <div class="buttons">
        <% if (locals.song == null) {%>
            <button class="record-button btn"> <i class="fa-solid fa-microphone"></i> Record</button>
        <% } else { %>
            <a href="/" class="btn">Record new Song</a>
        <% } %>
        <button class="play-button btn <%= locals.song != null ? 'show' : '' %>"> <i class="fa-solid fa-play"></i> Play</button>
        <button id="modalBtn" class="modal-button btn"> <i class="fa-solid fa-save"></i> Save</button>
    </div>
    <div class="song-buttons">
        <a href="#" class="btn song-link"> <i class="fa-solid fa-list-music"></i> View Recorded Song</a>
    </div>
    <div class="status">
        <input id="statusbar" class="statusbar" type="text" size="25" value="Status: Idle" disabled>
    </div>
    <div class="piano">
        <div data-note="C" class="key white"><div><img src="/Assets/z-key.png" class="keyofnote"><div class="keynote"> C</div></div></div>
        <div data-note="Db" class="key black"><div><img src="/Assets/s-key.png" class="keyofnote"><div class="keynote"> Db</div></div></div>
        <div data-note="D" class="key white"><div><img src="/Assets/x-key.png" class="keyofnote"><div class="keynote"> D</div></div></div>
        <div data-note="Eb" class="key black"><div><img src="/Assets/d-key.png" class="keyofnote"><div class="keynote"> Eb</div></div></div>
        <div data-note="E" class="key white"><div><img src="/Assets/c-key.png" class="keyofnote"><div class="keynote"> E</div></div></div>
        <div data-note="F" class="key white"><div><img src="/Assets/v-key.png" class="keyofnote"><div class="keynote"> F</div></div></div>
        <div data-note="Gb" class="key black"><div><img src="/Assets/g-key.png" class="keyofnote"><div class="keynote"> Gb</div></div></div>
        <div data-note="G" class="key white"><div><img src="/Assets/b-key.png" class="keyofnote"><div class="keynote"> G</div></div></div>
        <div data-note="Ab" class="key black"><div><img src="/Assets/h-key.png" class="keyofnote"><div class="keynote"> Ab</div></div></div>
        <div data-note="A" class="key white"><div><img src="/Assets/n-key.png" class="keyofnote"><div class="keynote"> A</div></div></div>
        <div data-note="Bb" class="key black"><div><img src="/Assets/j-key.png" class="keyofnote"><div class="keynote"> Bb</div></div></div>
        <div data-note="B" class="key white"><div><img src="/Assets/m-key.png" class="keyofnote"><div class="keynote"> B</div></div></div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Enter a title for your song</p>
          <input type="text" name="title" id="song_title" required>
          <button class="save-button btn"> <i class="fa-solid fa-save"></i> Save</button>
        </div>
    </div>
    <audio id="C" src="/notes/C.mp3"></audio>
    <audio id="Db" src="/notes/Db.mp3"></audio>
    <audio id="D" src="/notes/D.mp3"></audio>
    <audio id="E" src="/notes/E.mp3"></audio>
    <audio id="Eb" src="/notes/Eb.mp3"></audio>
    <audio id="F" src="/notes/F.mp3"></audio>
    <audio id="Gb" src="/notes/Gb.mp3"></audio>
    <audio id="G" src="/notes/G.mp3"></audio>
    <audio id="Ab" src="/notes/Ab.mp3"></audio>
    <audio id="A" src="/notes/A.mp3"></audio>
    <audio id="Bb" src="/notes/Bb.mp3"></audio>
    <audio id="B" src="/notes/B.mp3"></audio>
</body>
</html>
